/* styles.css */
body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.student-list {
    list-style-type: none;
    padding: 0;
}

.student-list li {
    margin-bottom: 10px;
}
img {
    width: 50px;
    height: 50px;
}
